$breakpoints: (
  xs: 480px,   // extra small devices (phones)
  sm: 768px,   // small devices (tablets)
  md: 992px,   // medium devices (small laptops)
  lg: 1200px,  // large devices (desktops)
  xl: 1600px   // extra large devices
);